* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
input {
    height: 45px;
    width: 100%;
    font-size: 14px;
    color: #3b5983;
    line-height: 18px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}
input:focus {
    outline: none;
    border: 2px solid #C1D9FD;
}
main {
    background: #F1F5FE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registger-form-container {
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
}
.form-title {
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
} 
.form-field {
    margin-bottom: 13px;
}
.button {
    width: 100%;
    display: block;
    height: 45px;
    background: #247FFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color: #0D6CF2;
    color: #FFFFFF
}
a.button {
    text-decoration: none;
}
.button-google {
    color: #C6CFDC;
    background: #F2F6FF;
}
.divider {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #405D87;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
